@import url(fontiran.css);

.body {
  font-family: fontSite !important;
}
.MuiTypography-root {
  font-family: fontSite !important;
}
.MuiButtonBase-root {
  font-family: fontSite !important;
}
.MuiAutocomplete-root {
  font-family: fontSite !important;
}
.MuiInputBase-input {
  font-family: fontSite !important;
}
.MuiFormLabel-root {
  font-family: fontSite !important;
}
.Toastify__toast-body {
  font-family: fontSite !important;
}
.MuiTooltip-tooltip {
  font-family: fontSite !important;
}
.MuiAutocomplete-popper {
  font-family: fontSite !important;
}
.ant-popconfirm-inner-content {
  font-family: fontSite !important;
}
.rdt_Table {
  font-family: fontSite !important;
}
.rmdp-wrapper {
  font-family: fontSite !important;
}
.Mui-disabled {
  color: #000 !important;
}
.muirtl-1cmhxc4-MuiPaper-root-MuiCard-root {
  margin-top: 0px !important;
}
.muirtl-mg03br-MuiGrid-root {
  padding-top: 10px !important;
  padding-bottom: 0px !important;
}
.button {
  font-family: fontSite !important;
}

.dash-content {
  text-align: right !important;
  direction: rtl !important;
  font-family: fontSite !important;
}
h1 {
  text-align: right !important;
  direction: rtl !important;
  font-family: fontSite !important;
}
.error-message {
  color: red;
  font-size: 10px;
  min-height: 15px;
  padding: 0;
  margin: 0;
  font-family: fontSite !important;
}
@media screen and (max-width: 768px) {
  .menuBig {
    background-color: red;
  }
}
.panel-link {
  text-decoration: none !important;
  color: black !important;
}
.panel-link-row {
  background-color: #d2d2d2 !important;
}
.sub-menu {
  margin-right: 18px !important;
  color: #000;
}
.text-left {
  text-align: left !important;
}
.MuiSpeedDialAction-staticTooltipLabel {
  min-width: 140px !important;
  color: #202020 !important;
  margin-left: 0px !important;
}
.muirtl-cveggr-MuiListItemIcon-root {
  min-width: 35px !important;
}
.blur {
  filter: blur(3px) !important;
}
.pointer {
  cursor: pointer;
}
.MuiContainer-root {
  width: 0% !important;
}
.rmdp-input {
  display: none !important;
}
.no-hover:hover {
  color: white !important;
}
.abstract p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 50px !important;
}
.swiper-pagination {
  top: 0px !important;
  position: relative !important;
}
.cards {
  margin-top: 15px;
  background-color: #f8f8f8;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #919191;
}
.image-container {
  width: 100%; /* Set the desired width */
  height: 100%; /* Set the desired height */
  overflow: hidden; /* Hide any overflow */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and fill the container */
}
.swiper-pagination {
  top: 0px !important;
  position: relative !important;
}
h5,
h4,
h3,
h2,
h1 {
  font-family: fontSite !important;
}
